@import 'tailwindcss';
@import './fonts.css';

:root {
    --text-color: #0A2036;
    --bg-color: #F3F4F6;
    --elem-color: #0A50DD;
  }
  
body {
    font-family: 'SF Pro Display', sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
  }

button,a:hover {
  cursor: pointer;
}

input, select, button {
  outline: none;
  border: none;
}

input::placeholder {
  color: var(--text-color);
}

select {
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none; 
    position: relative;        
}




